<!DOCTYPE html>
<html>
	<head>
		<title>UNO - Multiplayer game</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="icon" type="image/ico" href="/images/2133115.png" sizes="512x512">
		<link rel="apple-touch-icon" href="/images/2133115.png" sizes="512x512">
		<link rel="shortcut icon" type="image/png" href="/images/2133115.png"/>
		<link rel="preload" as="image" href="/images/UNO_cards.svg">
		<script>
			var Me = function(a, b) {
				let e = document.createElement(a);
				e.classList.add(b);
				return e
			},
			Pe = function(a, b) {
				a.appendChild(b)
			}
			var Loader = function() {
				let a = Me("DIV", "box-loader");
				a.innerHTML = '<div class="loader"><svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/></svg></div>';
				this.loader = a
			}
			Loader.prototype.create = function(a) {
				Pe(a, this.loader);
				return this.loader
			}
			Loader.prototype.remove = function() {
				this.loader.remove();   
			}
		</script>
	</head>
	<body class="loading">
		<section>
			<div id="solitaire-mode-dialog-close"></div>
			<div id="game-root"></div>
			<div class="cdk-overlay-container -hide-dialog" id="dialog-container">
				<div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
				<div class="cdk-global-overlay-wrapper" dir="ltr" style="justify-content: center; align-items: center">
					<div id="cdk-overlay-15" class="cdk-overlay-pane" style="max-width: 80vw; position: static">
						<div tabIndex="-1" aria-modal="true" class="md-dialog mat-dialog-container ng-tns-c49-32 ng-trigger ng-trigger-dialogContainer ng-star-inserted" id="mat-dialog-3" role="dialog" style="transform: none;">
							<div class="fire-spinner-container fire-dialog">
								<div class="fire-dialog-header">
									<div class="fire-dialog-title">
										<div class="title-cnt">
											<h1 id="game-title" class="game-title">Welcome to <span style="color: #FFC107">U</span>N<span style="color: #CDDC39">O</span></h1>
										</div>
									</div>
								</div>
								<div class="fire-dialog-body-section">
									<div mode="aside" type="warning" class="ng-tns-c31-33 ng-star-inserted">
										<div class="ng-tns-c31-33 fire-aside fire-callout fire-callout-opaque has-icon">
											<div class="fire-callout-body" aria-live="assertive">
												<h3>You can play with friends in multiplayer mode</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="fire-dialog-actions">
									<button id="start-easy-btn" color="primary" class="mat-raised-button mat-button-base blue-stl">
										<span class="mat-button-wrapper">Play</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="lc-close" id="close-btn">
			<div class="lc-in">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>
			</div>
		</div>
		<div class="deck-toggle tooltip" id="deck-toggle">
			<span class="tooltiptext">Change deck disposition</span>
			<div class="lc-in">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path fill="#de4463" d="M60.4148,18.4061a3.9728,3.9728,0,0,0-2.5332-1.7378l-19.6485-4.18a1,1,0,0,0-1.208.978v32.64a2.01,2.01,0,0,1-2.0068,2.0078H20.6228a1,1,0,0,0-.9785.7935l-.57,2.7022a4.0039,4.0039,0,0,0,3.085,4.7578L48.27,61.91a3.9686,3.9686,0,0,0,.8408.09,4.0213,4.0213,0,0,0,3.917-3.1758l7.9385-37.4092A3.9577,3.9577,0,0,0,60.4148,18.4061Z"/><path fill="#ffd57e" d="M6.9494,2H35.0178a4.0073,4.0073,0,0,1,4.0073,4.0073V46.1058a4.0078,4.0078,0,0,1-4.0078,4.0078H6.9489a4.0068,4.0068,0,0,1-4.0068-4.0068V6.0077A4.0073,4.0073,0,0,1,6.9494,2Z"/><path fill="#84471e" d="M60.4149,18.4059a3.9723,3.9723,0,0,0-2.5332-1.7378L39.0253,12.6564V6.0074A4.012,4.012,0,0,0,35.0185,2H6.9491A4.012,4.012,0,0,0,2.9423,6.0074V46.1056a4.012,4.012,0,0,0,4.0068,4.0078H19.39l-.3157,1.4956a4.0039,4.0039,0,0,0,3.085,4.7578L48.27,61.91a3.9743,3.9743,0,0,0,.8408.09,4.0213,4.0213,0,0,0,3.917-3.1757l7.9385-37.4092A3.9572,3.9572,0,0,0,60.4149,18.4059ZM6.9491,48.1134a2.01,2.01,0,0,1-2.0068-2.0078V6.0074A2.0094,2.0094,0,0,1,6.9491,4H35.0185a2.0094,2.0094,0,0,1,2.0068,2.0073V46.1056a2.01,2.01,0,0,1-2.0068,2.0078H6.9491Zm52.0625-27.12-.001.0039L51.0722,58.4054a2.0108,2.0108,0,0,1-.8741,1.271,1.987,1.987,0,0,1-1.5087.2778L22.5731,54.41A2.0035,2.0035,0,0,1,21.03,52.0265l.4033-1.9131h13.585a4.0121,4.0121,0,0,0,4.0068-4.0078V14.7013l18.4434,3.9233a1.99,1.99,0,0,1,1.2685.87A1.9693,1.9693,0,0,1,59.0116,20.9933Z"/></svg>
			</div>
		</div>
		<object id="sheep" type="image/svg+xml" data="/images/sheep-animated.svg"></object>
		<script type="text/javascript">
			this.gbar_ = {
				CONFIG: [[[["style.css"], ["script.js"]], ["/stylesheets/", "/javascripts/"]]],
			};
			this.gbar_ = this.gbar_ || {};
			(function(_) {
				var window = this;
				try {
					_.tj = function(a, b, c) {
						b = Kd[1][0] + b;
						a.rel = c;
						-1 != c.toLowerCase().indexOf("stylesheet") ? (a.href = _.Bc(b), (b = _.ad(a.ownerDocument && a.ownerDocument.defaultView)) && a.setAttribute("nonce", b)) : a.href = b instanceof _.zc ? _.Bc(b) : b instanceof _.Ec ? _.Fc(b) : _.Fc(_.Lc(b))
					};
		
				} catch (e) {
					console.info(e)
				}
		
				try {
					_.loader = new Loader().create(document.body);
					var Kd;
					window.gbar_ && window.gbar_.CONFIG ? Kd = window.gbar_.CONFIG[0] || {} : Kd = [];
		
					_.n = this || self;
					var yc;
					_.zc = function(a, b) {
						this.j = b === yc ? a : ""
					};
					_.da = function(a, b) {
						if (Error.captureStackTrace)
							Error.captureStackTrace(this, _.da);
						else {
							var c = Error().stack;
							c && (this.stack = c)
						}
						a && (this.message = String(a));
						void 0 !== b && (this.qR = b);
						this.j = !0
					};
					_.E = function(a, b, c) {
						return -1 === b ? null : b >= a.C ? a.o ? a.o[b] : void 0 : (void 0 === c ? 0 : c) && a.o && a.o[b] ? a.o[b] : a.A[b + a.B]
					};
					_.F = function(a, b) {
						a = _.E(a, b);
						return null == a ? a : !!a
					};
					_.Yg = function(a) {
						return ":" + (a.j++).toString(36)
					};
					_.Id = function(a) {
						// _.da.call(this, _.Yg(a, 2));
						this.j = !1;
						this.status = a
					};
		
					_.fk = function(e) {
						this.files ? this.files.push(e) : this.files = [e]
					};
					_.gk = function(a) {
						return this.progressedCount = 0, this.files.length ? (void this.files.forEach(function(e) {
							_.bk(e);
						})) : void _.cmp();
					};
					_.bk = function(a) {
						a.addEventListener("load", function(evt) {
							this.progressedCount++;
							this.progressedCount == this.files.length && (this.fileLoaded = true, _.cmp())
						}.bind(this));
					};
					_.cmp = function() {
						if (this.fileLoaded) {
							document.body.classList.remove('loading');
							_.loader.remove();
						}
					};
		
					var vj = function(a) {
						this.src = a;
						this.j = {};
						this.o = 0
					};
					_.me = function(a) {
						return _.je(document, a)
					};
					_.je = function(a, b) {
						b = String(b);
						"application/xhtml+xml" === a.contentType && (b = b.toLowerCase());
						return a.createElement(b)
					};
					_.Bc = function(a) {
						return a.toString()
					};
					_.Ac = function(a) {
						return a instanceof _.zc && a.constructor === _.zc ? a.j : "type_error:TrustedResourceUrl"
					};
					_.ce = function(a) {
						var b;
						if (Jda && !(_.mf && _.rf("9") && !_.rf("10") && _.ea.SVGElement && a instanceof _.ea.SVGElement) && (b = a.parentElement))
							return b;
						b = a.parentNode;
						return _.ig(b) ? b : null
					};
					_.xj = function(a) {
						var b,
							c = (a.ownerDocument && a.ownerDocument.defaultView || window).document,
							d = null === (b = c.querySelector) || void 0 === b ? void 0 : b.call(c, "script[nonce]");
						(b = d ? d.nonce || d.getAttribute("nonce") || "" : "") && a.setAttribute("nonce", b)
					};
					_.zj = function(a, b) {
						b = Kd[1][1] + b;
						b = "function" == typeof _.yj && b instanceof _.yj ? _.wj(b) : b;
						a.src = b;
						_.xj(a)
					};
					_.fe = function(a, b) {
						return (b || document).getElementsByTagName(String(a))
					};
					_.ad = function(a) {
						return _.$c('style[nonce],link[rel="stylesheet"][nonce]', a)
					};
					_.$c = function(a, b) {
						b = (b || _.n).document;
						return b.querySelector ? (a = b.querySelector(a)) && (a = a.nonce || a.getAttribute("nonce")) && bd.test(a) ? a : "" : ""
					};
					
					var Aj = function(a, b, c) {
						console.log(46, {
							att: a,
							max: b,
							url: c
						})
					},
					Cj = function(a, b, c) {
						console.log(47, {
							att: a,
							max: b,
							url: c
						});
						a < b ? Bj(a + 1, b) : console.log(Error("da`" + a + "`" + b), {
							url: c
						})
					},
					Bj = function(a, b) {
						if (Dj) {
							var c = _.me("SCRIPT");
							c.defer = !0;
							c.type = "text/javascript";
							c.charset = "UTF-8";
							_.zj(c, Dj);
							c.onerror = () => Aj(a, b, c.src);
							_.fe("BODY")[0].appendChild(c)
							_.fk(c);
						}
					},
					Jj = function() {
						Bj(1, 2);
						if (Ij) {
							var a = _.me("LINK");
							a.setAttribute("type", "text/css");
							_.tj(a, Ij, "stylesheet");
							var b = _.ad();
							b && a.setAttribute("nonce", b);
							_.fe("HEAD")[0].appendChild(a);
							_.fk(a);
						}
					},
					Dj,
					Ij,
					Ej = function(a) {
						a = a || []
						a.forEach((e, i) => {
							e.forEach(u => {
								Dj = Ij = null;
								i === 0 ? Ij = u : Dj = u;
								Jj();
							})
						});
						_.gk();
					};
						
					(function() {
						window.addEventListener("DOMContentLoaded", function() {
							window.setTimeout(Ej(Kd[0]), 0);
						})
					})();
				} catch (e) {
					console.info(e);
				}
			})(this.gbar_);
		</script>
	</body>
</html>
