<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<section>
			<div id="solitaire-mode-dialog-close"></div>
			<div id="game-root"></div>
			<div class="cdk-overlay-container -hide-dialog" id="dialog-container">
				<div class="cdk-overlay-backdrop cdk-overlay-dark-backdrop cdk-overlay-backdrop-showing"></div>
				<div class="cdk-global-overlay-wrapper" dir="ltr" style="justify-content: center; align-items: center">
					<div id="cdk-overlay-15" class="cdk-overlay-pane" style="max-width: 80vw; position: static">
						<div tabIndex="-1" aria-modal="true" class="md-dialog mat-dialog-container ng-tns-c49-32 ng-trigger ng-trigger-dialogContainer ng-star-inserted" id="mat-dialog-3" role="dialog" style="transform: none;">
							<div class="fire-spinner-container fire-dialog">
								<div class="fire-dialog-header">
									<div class="fire-dialog-title">
										<div class="title-cnt">
											<h1 id="game-title" class="game-title">Welcome to <span style="color: #FFC107">U</span>N<span style="color: #CDDC39">O</span></h1>
										</div>
									</div>
								</div>
								<div class="fire-dialog-body-section">
									<div mode="aside" type="warning" class="ng-tns-c31-33 ng-star-inserted">
										<div class="ng-tns-c31-33 fire-aside fire-callout fire-callout-opaque has-icon">
											<div class="fire-callout-body" aria-live="assertive">
												<h3>You can play with friends in multiplayer mode</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="fire-dialog-actions">
									<button id="start-easy-btn" color="primary" class="mat-raised-button mat-button-base blue-stl">
										<span class="mat-button-wrapper">Play</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="/javascripts/script.js"></script>
	</body>
</html>
